{% load static %}


<div class="row product-layout-list">
    <div class="col-lg-3 col-md-5 ">
        <div class="product-image">
                {% if product.first_image %}
                <img src="{{product.first_image}}" alt="Product image" class="product-image">
            {% else %}
                <img src="{% static "images/pas-images.png" %}" alt="Product image" class="product-image">
            {% endif %}
         
        </div>
    </div>
    <div class="col-lg-9 col-md-9">
        <div class="product_desc">
            <div class="product_desc_info">
                <div class="rox d-flex justify-content-between">
                    <div>
                        <h5 class="manufacturer">
                            <a href="{{product.category.get_absolute_url}}">{{product.category}}</a>
                        </h5>
                    </div>
                    {% if product.first_doc %}
                      
                    <div class="rating-box">
                           <a href="{{product.first_doc}}" download><i class="fa fa-download"></i>Télécharger manuel</a>
                    </div>
                    {% endif %}
                </div>
                <h4>{{product.name}}</h4>
                    <p id="textTrunced{{product.id}}">{{product.text|truncatewords:50}}</p> 
            </div>
        </div>
    </div>
   
</div>