{% extends "base.html" %}
{% load static %}
{% block content %}


        <!--Start breadcrumb area-->
        <section class="breadcrumb-area" style="background-image: url({{business.about_photo.url}});">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content clearfix">
                            <div class="title" >
                                <h1 id="about-title">Des avantages qui deviennent <br> des solutions</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End breadcrumb area-->
        <!--End breadcrumb area-->
       
        <!--Start Company Overview Area-->
        <section class="company-overview-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="intro-box clearfix">
                            <div class="sec-title">
                                <div class="title">Là où il y a un problème, nous apportons une solution<br> <span> le cas contraire, plus de confort.</span></div>
                            </div>
                            <div class="text">
                                <p>Créée en 2011, Eurl Pluriel de matériels électriques (PMATEL) est une société spécialisée dans la distribution de matériels électriques pour les besoins de l’industrie et bâtiment.</p>
                                <p>
                                    Après plusieurs années dans la distribution de matériels électriques de grandes marques, notre expérience nous a impliqués dans la prescription et le conseil auprès de notre clientèle de plus en plus soucieuse de la qualité et rapidité d’exécution. Notre start up se compose de structures jeunes, dynamiques et motivées.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row fact-counter">
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="22" data-speed="5000" data-refresh-interval="50">22</span>
                                </h1>
                            </div>
                            <div class="title">
                                <h3>ans<br>d'experience</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="300" data-speed="5000" data-refresh-interval="50">300</span>
                                    <img src="images/icon/k.png" alt="">
                                </h1>
                            </div>
                            <div class="title">
                                <h3>Projet <br> réaliser</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="2000" data-speed="5000" data-refresh-interval="50">2000</span>
                                </h1>
                            </div>
                            <div class="title">
                                <h3>client <br> satisfait</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="30" data-speed="5000" data-refresh-interval="50">30</span>
                                </h1>
                            </div>
                            <div class="title">
                                <h3>Trophés<br> Réçu</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                </div>

            </div>
        </section>
        <!--End Company Overview Area-->
        <!--Start Why choose Area-->
        <section class="why-choose-area" style="background-image:url(static/images/parallax-background/why-choose-bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="why-choose-title float-left">
                            <div class="sec-title">
                                <div class="icon"><img src="{% static "images/icon/home-1.png" %}" alt="Awesome Logo"></div>
                                <div class="title">Pourquoi nos clients <br>nous Ont <span> choisit ?</span></div>
                            </div>
                            <ul>
                                <li>Bien organiser</li>
                                <li>Disponibilité des produits</li>
                                <li>Toujours à l'écoute de nos clients</li>
                            </ul>
                            <div class="button">
                                <a class="btn-one" href="#">Demander un devis<span class="flaticon-next"></span></a>
                            </div>
                        </div>
                        <div class="why-choose-content float-right">
                            <!--Start Single Box-->
                            <div class="single-box redbg">
                                <div class="icon-holder">
                                    <span class="icon-scheme"></span>
                                </div>
                                <div class="text-holder">
                                    <h3>Équipe expérimentée</h3>
                                    <p>Righteous indignations working beguileds all demoralized that blinded our works.</p>
                                </div>
                            </div>
                            <div class="single-box whitebg">
                                <div class="icon-holder">
                                    <span class="icon-guarantee-certificate1"></span>
                                </div>
                                <div class="text-holder">
                                    <h3>sûr et sécuriser à 100%</h3>
                                    <p>Des avantages qui deviennent des solutions</p>
                                </div>
                            </div>
                            <div class="single-box whitebg">
                                <div class="icon-holder">
                                    <span class="icon-hr1"></span>
                                </div>
                                <div class="text-holder">
                                    <h3>Visiter nos références</h3>
                                    <p>Rejects pleasures to secure other pleasures, endures pains to avoid worse.</p>
                                </div>
                            </div>
                            <div class="single-box blackbg">
                                <div class="icon-holder">
                                    <span class="icon-wallet1"></span>
                                </div>
                                <div class="text-holder">
                                    <h3>Distributeur CAME BPT exclusif</h3>
                                    <p>Une assistance technique et un service après vente assurés à long terme.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Why choose Area-->

        <!--Start Brand area-->
        <section class="brand-area">
            <div class="container">
                <div class="sec-title">
                    <p>Nos Références Corporate</p>
                    <div class="title">Plus de <span> 2000 Clients</span></div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="brand-items-carousel owl-carousel owl-theme">
                            {% for client in clients %}
                                <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <a href="{{client.get_abolute_url}}"><img src="{% static "images/brand/1.png" %}" alt="Awesome Brand Image"></a>
                                    <div class="overlay-content">
                                        <p>Miesian</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Brand area-->

  
{% endblock content %}