{% extends "base.html" %}
{% load static %}
{% block content %}


        <!--Start breadcrumb area-->
        <section class="breadcrumb-area" style="background-image: url({{business.about_photo.url}});">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content clearfix">
                            <div class="title" >
                                <h1 id="about-title">Des avantages qui deviennent <br> des solutions</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End breadcrumb area-->
        <!--End breadcrumb area-->
       
        <!--Start Company Overview Area-->
        <section class="company-overview-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="intro-box clearfix">
                            <div class="sec-title">
                                <div class="title">Là où il y a un problème, nous apportons une solution<br> <span> le cas contraire, plus de confort.</span></div>
                            </div>
                            <div class="text">
                                <p>Créée en 2011, SARL Pluriel de matériels électriques (PMATEL) est une société spécialisée dans la distribution de matériels électriques pour les besoins de l’industrie et bâtiment.</p>
                                <p>
                                    Après plusieurs années dans la distribution de matériels électriques de grandes marques, notre expérience nous a impliqués dans la prescription et le conseil auprès de notre clientèle de plus en plus soucieuse de la qualité et rapidité d’exécution. Notre start up se compose de structures jeunes, dynamiques et motivées.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row fact-counter">
                    {% for count in counters %}
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                            <div class="single-fact-counter wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="count-box">
                                    <h1>
                                        <span class="timer" data-from="1" data-to="{{count.number}}" data-speed="5000" data-refresh-interval="50">{{count.number}}</span>
                                    </h1>
                                </div>
                                <div class="title">
                                    <h3>{{count.name}}</h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--End Company Overview Area-->
        <!--Start Why choose Area-->
        <section class="why-choose-area" style="background-image:url({% static 'images/parallax-background/why-choose-bg.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="why-choose-title float-left">
                            <div class="sec-title">
                                <div class="icon"><img src="{{business.logo_negatif.url}}" alt="Awesome Logo"></div>
                                <div class="title">Pourquoi nos clients <br>nous Ont <span> choisit ?</span></div>
                            </div>
                            <ul>
                                <li>Bien organiser</li>
                                <li>Disponibilité des produits</li>
                                <li>Toujours à l'écoute de nos clients</li>
                            </ul>
                            <div class="button">
                                <a class="btn-one" href="{% url 'core:contact' %}">Demander un devis<span class="flaticon-next"></span></a>
                            </div>
                        </div>
                        <div class="why-choose-content float-right">
                            <!--Start Single Box-->
                            {% for proccess in processes %}
                                <div {% if forloop.counter == 1 %}class="single-box redbg"{% elif forloop.counter == 2 %}class="single-box whitebg"{% elif forloop.counter == 3 %}class="single-box whitebg"{% elif forloop.counter == 4 %}class="single-box blackbg"{% endif %}>
                                    <div class="icon-holder">
                                        <span {% if forloop.counter == 1 %}class="icon-scheme"{% elif forloop.counter == 2 %}class="icon-guarantee-certificate1"{% elif forloop.counter == 3 %}class="icon-hr1"{% elif forloop.counter == 4  %}class="icon-wallet1"{% endif %}></span>
                                    </div>
                                    <div class="text-holder">
                                        <h3>Équipe expérimentée</h3>
                                        <p>Righteous indignations working beguileds all demoralized that blinded our works.</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Why choose Area-->

        <!--Start Brand area-->
        <section class="brand-area">
            <div class="container">
                <div class="sec-title">
                    <p>Nos Références Corporate</p>
                    <div class="title">Plus de <span> 2000 Clients</span></div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="brand-items-carousel owl-carousel owl-theme">
                            {% for client in clients %}
                                <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <a href="{{client.get_abolute_url}}"><img src="{% static "images/brand/1.png" %}" alt="Awesome Brand Image"></a>
                                    <div class="overlay-content">
                                        <p>Miesian</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Brand area-->
  
{% endblock content %}