{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}

{% block content %}
{% if category and request.GET.category != 'all' %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumbs d-flex flex-row align-items-center" style="margin-bottom: 0px;">
                        <ul>
                            <li><a href="{% url 'core:index' %}">Acceuil</a></li>
                            <li><a href="{% url 'core:products' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Catalogue</a></li>
                            {% for cat in category.get_ancestors %}
                            <li><a href="{{cat.get_absolute_url}}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{cat.name}}</a></li>
                            {% endfor %}
                            <li class="active"><i class="fa fa-angle-right" aria-hidden="true"></i>{{category.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

<section id="shop-area" class="main-shop-area" style="padding-top: 20px;">
    <div class="container">
        <div class="row m-3">
            {% for cat in category.get_children %}
                <div class="col-sm-6 col-md-4 col-xl-3 mb-2">
                    <a href="{{cat.get_absolute_url}}">
                    <div class="cat-box pt-3 d-flex" >
                            <span class="d-inline-block pr-10">
                                <span class="d-flex category-span">
                                    {% if cat.icon %}
                                        <img class="d-block img-fluid" src="{{cat.icon.url}}" alt="{{cat.name}}" >
                                    {% else %}
                                        <img class="d-block img-fluid" src="{% static "images/icon/category.png" %}" alt="no icon" >
                                    {% endif %}
                                </span>
                            </span>
                            <span class="align-middle d-inline-block text ml-2" style="color: #000000;">{{cat.name}}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 float-right" id="products_row">
                {% include "snippets/htmx_products.html" %}
            </div>
            <div class="col-xl-3 col-lg-4 col-md-8 col-sm-12 float-left">
                <form class="shop-sidebar-wrapper" action="{% url 'core:filtered-products' %}" hx-get="{% url 'core:filtered-products' %}" hx-target="#removed-products" hx-swap="outerHTML">
                    <div class="single-sidebar-box pdbtm">
                        <div class="shop-sidebar-title">
                            <h3>Categories</h3>
                        </div>
                        <ul class="categories clearfix">
                                <li><a href="{% url 'core:products' %}">Tous les produits</a></li>
                                {% recursetree categories %}
                                {% if node.has_products %}
                                    <li><a href="{{node.get_absolute_url}}">{{node.name}}</a></li>
                                {% endif %}
                            {% endrecursetree %}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}